<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes limit reached</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>The fridge is full!</h1>
    <p class="fullMessage">Hey, you've reached 100 notes, and the notes are all over the fridge. You know what this means? 
        It means you've been taking too many notes and not committing them to memory. Time to remove some notes
        to free up some space, or you can simply buy another fridge by unlocking 100notes <strong>premium</strong>.
    </p>
    
    <script src='js/main.js'></script>
</body>
</html>