

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}





/* Main styles */

body {
    color: rgb(34, 34, 34);
    background-color: #f9f8f9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23031c4f' fill-opacity='0.2'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");

}

.formContainer>h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    margin-top: 5%;
    
}

.contentContainer{
    display: flex;
    justify-content: space-between;
}
#titleInput{
    font-family: 'Indie Flower', sans-serif;
    border: 2px solid rgb(3, 123, 159);
    -webkit-box-shadow: 4px 4px 8px 2px rgba(69, 68, 68, 0.4); 
    box-shadow: 4px 4px 8px 2px rgba(72, 72, 72, 0.4);
    min-width: 300px;
    padding-left: 2%;
}
#textArea{
    font-family: 'Indie Flower', sans-serif;
    border: 2px solid rgb(3, 123, 159);
    -webkit-box-shadow: 4px 4px 8px 2px rgba(69, 68, 68, 0.4); 
    box-shadow: 4px 4px 8px 2px rgba(72, 72, 72, 0.4);
    min-width: 300px;
    padding: 2%;
}

button {
    background: #f0f8ca;
    font-family: 'Permanent Marker', cursive;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid rgb(3, 123, 159);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
   }
   
   button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
   }
   
   button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
   }

   #deleteAllBtn{
    background-color: red; 
    border: 10px solid rgb(173, 167, 171);
    color: lime;
    /* font-weight: bold; */
    height: 250px;
    width: 250px;
    border-radius: 50%;
    font-size: 2rem;
    font-family: 'Permanent Marker', sans-serif;
   }


   #deleteAllBtn:hover{
    border: 10px #eff709 solid;
    background-color:green;
    color: red;
    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink { 50% { border-color:#fff ; }  }

.deleteBtnContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
}


/* Form container/main container */

.mainContainer{
    width: 30vw;
    max-height: 550px;
    background-color: rgba(152, 213, 234, 0.65);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    font-family: 'Indie Flower', sans-serif;
    margin: 2%;
    border-radius: 25px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 1rem;
}



/* fridge container */

.fridgeContainer{
    min-height: 100vh;
    width: 60vw;
    background-image: url(bunny.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(96, 168, 239, 0.8);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 25px;
    padding: 0;
    margin: 2%;
}

.noteContainer{
    font-family: 'Indie Flower', sans-serif;
    min-width: 150px;
    min-height: 175px; 
    background-color: #f0f8ca;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cg fill='%23f8eb94' fill-opacity='0.48'%3E%3Cpath fill-rule='evenodd' d='M0 0h4v4H0V0zm4 4h4v4H4V4z'/%3E%3C/g%3E%3C/svg%3E");
    border: 1px solid rgb(149, 147, 147);
    -webkit-box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.4); 
    box-shadow: 4px 4px 8px 2px rgba(0,0,0,0.4);
    padding: 5px;
    margin: 5px;
    z-index: 2;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
 
}

.topOfNote{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.noteIconContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}


.noteTitle{
    font-family: 'Permanent Marker', cursive;
    font-weight: 700;
}

.fa.fa-star,
.fa.fa-trash{
    font-size: x-small;
}



/* Maximum notes reached page */

.fullMessage{
    font-size: 2rem;
}




/* date */

.dateAdded{
    font-size: 12px;
}


/* Media Queries */

@media all and (min-width: 768px) and (max-width: 1024px) {
    #titleInput, #textArea{
        min-width: 200px;
    }
 }

@media all and (min-width: 320px) and (max-width: 768px) {
    
    .contentContainer{
        display: block;
        margin: 1%;
    }
    .mainContainer, .fridgeContainer{
        min-width: 100%;
        margin: 0 auto;
    }
   
    #titleInput, #textArea{
        min-width: 250px;
    }
    .formContainer>h1{
        margin-top: 0;
        margin: 0 auto;
    }
    button {
        margin-bottom: 5px;
       }

    .form{
        width: 100%;
    }

    #textArea{
        width: 80%;
        height: 100px;
    }

 }



@media all and (max-width: 480px) {
   
     
    #titleInput, #textArea{
        min-width: 100px;
    }
    button {
        padding: 0.3em .7em;
        font-size: 12px;
       }

     

 }
    





